@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  position: relative;
  color: #555;
}
/* ............/navbar/............ */
.nav-item a {
    color: #8B1AA3 !important;
  }
  .nav-item a:hover {
    color: #8B1AA3 !important;
    border-bottom: solid 2px  #32A31A !important;
    
  }
  /*shadow for navbar*/
   .navbar {
    box-shadow: 0px 5px 10px 0px #1AA341;
    position: relative;
    width: 100%;
    background: #fff;
    color: #000;

  } 
  /*btn and other utility*/
  .btn {
    display: inline-block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    border-radius:50px;
    cursor: pointer;
    outline: none !important;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: small;
  
  }
  
.btn-myprimary {
    color: #fff;
    background: #8B1AA3;
    outline: none !important;
  }
  .btn-myprimary:hover {
    background: #BA149F;
    transition: 0.3s t;
    outline: none !important;
  }
  /*hide bootsrap bottuns' outline*/ 
  .btn:focus {
    outline: none;
    box-shadow: none;
  }
  ol >li{
    border-radius: 50%;
     width: 20px !important;
      height: 20px !important;
       background-color:#8B1AA3 !important;
  }
  #nailtype {
    font-size: 1.2rem !important;
    color: #8B1AA3 !important;
  }
  #gallery h2 , #question{
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #555;
  }
  /*some font and styling text*/

.tit {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 40px;
    text-transform:capitalize;
    color: #555;
}
.main-title {
  font-family: "Trirong", serif;
  margin-top: 1.5em;
  color: #f5f5f7;
}
.titsmall {
  font-size: 1.2rem;
  color: #666;
  font-weight: 600;
}
/*line above title*/
.after::after{
  content: "  ";
  display: block;
  border: 1px solid #1AA341 !important;
  box-shadow: 0px 5px 10px 0px #8B1AA3!important;
   width: 220px;
  text-align: center;
  margin: 10px auto;

}
  /*footer*/
#footer h2 {
  text-align: center;
  font-size: 1.6rem;
  padding: 1.6rem;
  font-weight: 500;
  color: #fff;
  background: rgb(65, 65, 65);
}
.box-border{
  border-bottom: 1px solid #BA149F !important;
}